* { margin: 0; padding: 0; }
html { height: 101%; background-color: #eeeeee; }
body { color: #000; background:#f6f6f6; font-size: 62.5%; padding-bottom: 65px; }

h1 { font-family: "Simonetta", "Trebuchet MS", Arial, sans-serif; color: #224b8d; font-size: 2.5em; margin-bottom: 4px; }
h2 { font-family: "Simonetta", "Trebuchet MS", Arial, sans-serif; color: #527bbd; font-size: 2.5em; margin-bottom: 10px; text-decoration: underline; }
h3 { font-family: "Trebuchet MS", Verdana, Arial, sans-serif; color: #527bbd;  font-size: 1.5em; margin-bottom: 5px; }
h4 { font-family: "Trebuchet MS", Verdana, Arial, sans-serif; color: #527bbd; font-weight: normal; font-size: 1.4em; margin-bottom: 2px; }
h5 { font-family: "Trebuchet MS", Verdana, Arial, sans-serif; color: #527bbd; font-weight: normal; font-size: 1.4em; margin-bottom: 20px; }
p { font-family: "Balthazar", "Droid Serif", serif; color: #000000; font-size: 1.8em; line-height: 1.4em; margin-bottom: 15px; padding-left: 35px; }
small { font-family: "Balthazar", "Droid Serif", serif; color: #000000; font-size: 1.6em; display: block; margin-bottom: 6px; }
ul { display: block; list-style: none; }
ul li { padding-left: 45px; list-style-type: none; vertical-align: top; background: url('../images/bullet.png') 25px 1px no-repeat; margin-bottom: 5px; font-family: "Balthazar", "Droid Serif", serif; color: #000000; font-size: 1.6em; line-height: 1.5em; }

img { border: 0; max-width: 100%; }

a { color: #134ff9; text-decoration: none; }
a:hover { text-decoration: underline; }
body{
	background-color: #a6a6a6
}

/** @group core layout **/
#w { margin: auto;  padding: 40px; background: #ffffff; min-width: 260px; max-width: 800px; border: 1px solid   #d9d9d9; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; -webkit-border-bottom-left-radius: 8px; -webkit-border-bottom-right-radius: 8px; -moz-border-radius-bottomleft: 8px; -moz-border-radius-bottomright: 8px; }

header { width: 100%; }
/** @group personal settings **/
#info { float: left; margin-bottom: 5px; }
#photo { float: right; }
#photo img { 
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 5%;
-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
background-color: #fff;
border: 1px solid #ccc;
padding: 2px; 
width: 160px;
}

hr { 
  display: block;
  margin-top: -0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
   border: 2px solid  #CD5C5C;
  border-radius: 2px;
} 
hr.bottom {
  border: 1px solid  #F08080;
  border-radius: 2px;
}



/** @group skills **/
#skills-left { display: block; float: left; margin-right: 30px; }
#skills-right { display: block; float: left;}

/** @group clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

